{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
<img src="static/orig.png" alt="profile picture">
<h3>About Me</h3>
<p>Hi, my name is Sam. I am an aspiring front-end developer with a background in accounting/finance. I am looking to transition to the software field professionally as the work is uniquely fulfilling to me. In my time at college, computer science wasn't my major but I took computer science courses for my open electives. I took Intro to Comp Sci as well as Object Oriented Programming and Data Structures. When I took my first comp sci course, I immediately knew software development was what I wanted to do with my life. The process of solving problems in the context of code is endlessly fulfilling as well as challenging. I love to truly break down a problem and consider all possibilities to find what is causing issues within a program. There is always something new to learn which drives my interest further and further. Thank you for visiting my portfolio and I look forward to hearing more from you!</p>
{% endblock %}