{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content%}
<h2>Hello! Welcome to my portfolio.</h2>
<h2>Languages</h2>
<ul>
	<li><h4>Java</h4></li>
	<li><h4>Python</h4></li>
	<li><h4>C#</h4></li>
</ul>
<h2>Projects</h2>
<ul>
	<li><h4>Caffiend</h4></li>
		<ul>
			<li>Video:</li>
			<li>Description: Productivity App made in Android Studio and written in Java that tracks user's caffeine intake over time.</li>
			<li><a href="https://github.com/SamuelKellyDev/Caffiend" target="_blank">Github Repository</a></li>
		</ul>
	<li><h4>Stonks</h4></li>
		<ul>
			<li>Video:</li>
			<li>Description: Python WebApp that does basic stock analysis in real-time using financial API's. Set entry price target then sends you an email when it hits that. Gauges whether a stock is currently oversold or overbought. Also displays support levels. Describes general trend of stock in short-term as well as market sentiment summarized from articles. Shows performance after earning reports and wall street analysis. Compares to competitors in industry in terms of market cap.</li>
			<li>Github Repository</li>
		</ul>
	<li><h4>Cubie</h4></li>
		<ul>
			<li>Video:</li>
			<li>Description: Platformer game made in Unity and written in C#. The cube continously moves forward as the player has to move side-to-side to avoid obstacles while also jumping from platform to platform.</li>
			<li>Github Repository</li>
		</ul>
</ul>
<h2>Resume</h2>
{% endblock %}